body{
    background-color:rgb(189, 153, 201);
    font-family:'Times New Roman', Times, serif;
}
h1{
    text-align:center;
    color:rgb(228, 226, 146);
}
h2{
    text-align:left;
    color:rgb(49, 51, 47);
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; 
border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255); 
    margin: auto;
    }